.Hero {
  margin: 0 15px;

  text,
  circle {
    cursor: pointer;
  }

  g:hover {
    circle {
      fill: steelblue;
    }
  }

  circle {
    fill: #E6E6FA;
    transition: -webkit-transform 0.5s, fill 0.5s;
  }

  &--active {
    circle {
      fill: lightblue;
    }
  }

  &--isCounter {
    circle {
      fill: red;
    }
  }

  &--isCounteredBy {
    circle {
      fill: lightgreen;
    }
  }
}
