.Hero {
  margin: 10px;

  image {
    cursor: pointer;
  }

  circle {
    fill: #E6E6FA;
    transition: -webkit-transform 0.5s, fill 0.5s;
  }

  // g:hover {
  //   circle {
  //     fill: steelblue;
  //   }
  // }

  // &--active {
  //   circle {
  //     fill: lightblue;
  //   }
  // }

  // &--isCounter {
  //   circle {
  //     fill: red;
  //   }
  // }

  // &--isCounteredBy {
  //   circle {
  //     fill: lightgreen;
  //   }
  // }
}
