html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Big Noodle';
  src: local('Big Noodle'), url(./assets/fonts/big_noodle_titling.ttf) format('truetype');
}

$gray: #4b535d;

h1, h2 {
  color: $gray;
  font-family: 'Big Noodle';
}
