ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

#root {
  height: 100%;
}

.u-margin-20-30 {
  margin: 20px 30px;
}

.HeroGallery {
  &-header {
    &-title {
      font-style: italic;
      text-align: center;
    }
  }

  &-counters,
  &-counteredBy,
  &-combos {
    p {
      display: inline-block;
    }
  }
}

$mobileWidth: 500px;
.FlexboxContainer {
  display: flex;
  height: 100%;

  &--row {
    flex-direction: row;

    @media screen and (max-width: $mobileWidth) {
      flex-direction: column;
    }
  }

  &--column {
    flex-direction: column;
  }

  &-mainColumn {
  }
}

.HeroGallery {
  &-list {
    text-align: center;
  }
}

.Sidebar {
  background: #f0edf2;
  text-align: center;
  width: 0;
  transition: width 300ms ease;
  overflow: hidden;

  &--active {
    width: 300px;

    @media screen and (max-width: $mobileWidth) {
      width: 100%;
      overflow: visible;
      padding-bottom: 30px;
    }
  }
}

.Loader {
  text-align: center;
}
